// --------------------------------------------------
// For Showing Loading Status
// --------------------------------------------------
.ss-input-wrapper {
  margin-bottom: 15px;
  outline: none;
}

.ss-input-wrapper.is-disabled {
  .ss-input-label {
    color: transparentize($accent-color, 0.5);
  }
  .ss-input, .ss-input-narrow {
    background-color: $clear-gray;
  }
}

.ss-input-label {
  display: block;
  margin-bottom: 5px;
  color: $accent-color;
}

.ss-input {
  padding-left: $base-margin;
  height: 35px;
  width: 100%;
  border: 1px solid transparentize($base-color-dark, 0.5);
  box-shadow: inset 0 0 1px 1px $gray;
  background-color: $base-color;
  color: #4D4D4D;

  // border radius
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
}

.ss-input-narrow {
  @extend .ss-input;
  @include border-right-radius(0);
  border-right-width: 0;
  width: 30%;
}

.ss-input-addon {
  @extend .ss-input;
  @include border-left-radius(0);
  display: inline-block;
  padding: 5px 3px;
  height: 35px;
  width: 30px;
  border-left-width: 0;
  text-align: center;
}

.ss-input + .ss-input-addon ,.ss-input-narrow + .ss-input-addon {
  margin-left: -4px;
}
