// --------------------------------------------------
// Base Layout
// --------------------------------------------------


// --------------------------------------------------
// Type Scales
// from: http://type-scale.com/?size=14&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=Libre+Baskerville&font-family=%27Libre%20Baskerville%27,%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
// --------------------------------------------------
html {
  height: 100%;
  width: 100%;
  font-size: 0.875em;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: 'Noto Sans Japanese', sans-serif !important;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Noto Sans Japanese', sans-serif !important;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

ui-view, .ui-view-wrapper {
}

.container {
  @include outer-container();
  @include clearfix;
  @include row();
}

input, button, img {
  outline: none;
}
