// --------------------------------------------------
// Layouts
// --------------------------------------------------
.l-clearfix {
  @include clearfix;
}

.l-pull-right {
  float: right;
}

.l-pull-left {
  float: left;
}

.l-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
