// --------------------------------------------------
// KAIZEN Theme
// --------------------------------------------------

// --------------------------------------------------
// Colors
// --------------------------------------------------
$base-color: white;
$base-color-dark: darken($base-color, 20%);

$accent-color: transparentize(#4597F5, 0.1);
$accent-color-light: transparentize(#7FB6F5, 0.1);

$warning-color: transparentize(red, 0.1);

$white: transparentize(white, 0.2);
$clear-white: transparentize($white, 0.4);
$gray: transparentize(#8E8E8E, 0.2);
$clear-gray: transparentize($gray, 0.4);
$black: transparentize(#2D2D2D, 0.2);

$base-margin: 10px;
