// --------------------------------------------------
// Pale Tone Theme
// --------------------------------------------------

// --------------------------------------------------
// Colors (from: http://paletton.com/palette.php?uid=33y0u0k7hR50p%2BV3rXObyH8g8vx)
// --------------------------------------------------
$base-color: white;
$base-color-dark: darken($base-color, 20%);

$accent-color: transparentize(#5680A2, 0.1);
$accent-color-light: transparentize(#B3CDE3, 0.1);

$warning-color: transparentize(#FBA37D, 0.1);
$third-color: transparentize(#FBDC7D, 0.1);

$white: transparentize(#d4d4d4, 0.2);
$clear-white: transparentize($white, 0.4);
$gray: transparentize(#8E8E8E, 0.2);
$clear-gray: transparentize($gray, 0.4);
$black: transparentize(#2D2D2D, 0.2);

// --------------------------------------------------
// Sizes
// --------------------------------------------------
$base-margin: 10px;
$mobile: new-breakpoint(max-width 640px 6);
$tablet: new-breakpoint(max-width 970px 10);
$pc: new-breakpoint(min-width 971px 12);
