@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import 'bourbon';

// --------------------------------------------------
// Neat Settings
// --------------------------------------------------
$max-width: em(1440) !default;
$grid-columns: 12 !default;
$column: modular-scale(3, em(20), $perfect-fourth) !default;
$gutter: modular-scale(1, em(20), $perfect-fourth) !default;

// visual-grid
$visual-grid: false !default;
$visual-grid-color: red !default;
$visual-grid-opacity: 0.4 !default;
$visual-grid-index: front !default;

@import 'neat';

// themeを適用する。※.tmpフォルダから見た相対パス
@import '../scss/pale-tone-themes';

// injector
// endinjector
