// --------------------------------------------------
// UI Modules
// --------------------------------------------------

// --------------------------------------------------
// Buttons
// --------------------------------------------------
.btn {
  display: inline-block;
  margin-right: $base-margin;
  padding: 10px $base-margin * 2;
  border: 2px solid white;
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);

  &:hover {
    background-color: darken(#4597F5, 20%);
  }
}

.btn-solid {
  @include border-top-radius(0);
  @include border-right-radius(0);
  @include border-bottom-radius(0);
  @include border-left-radius(0);
}

.btn-primary {
  background-color: #4597F5;
  color: white;
  border: 2px solid #4597F5;
}

// ghost-buttons
.btn-ghost {
  background-color: transparent;
  border: 2px solid white;
}

.btn-ghost-warning {
  background-color: transparent;
  border: 2px solid #E0001A;
  color: #E07581;

  &:hover {
    background-color: darken(#E07581, 20%);
  }
}

// --------------------------------------------------
// Form Parts
// --------------------------------------------------
.sb-form {
  margin: 15px $base-margin;
}

.sb-form-header {
  margin: 0;
  padding: 0 0 15px 0;
  text-align: center;
}

.sb-form-profile-image {
  img {
    width: 100%;
  }
}

.sb-input-wrapper {
  margin-bottom: 15px;
}

.sb-input-label {
  display: block;
  margin-bottom: 5px;
  color: #4597F5;
}

.sb-input {
  padding-left: $base-margin;
  height: 35px;
  width: 100%;
  border: 1px solid rgba(204, 204, 204, 0.5);
  box-shadow: inset 0 0 1px 1px rgba(100, 100, 100, 0.2);
  background-color: white;
  color: #4D4D4D;

  // border radius
  @include border-top-radius(5px);
  @include border-right-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
}

.sb-input-narrow {
  @extend .sb-input;
  width: 30%;
}

.sb-input-addon {
  display: inline-block;
  padding: 8px 5px;
  height: 35px;
}

// divider
hr.sb-divider {
  @include margin(20px 1px 20px 1px);
  border: 1px solid #4597F5;
}

// --------------------------------------------------
// Card Layout
// --------------------------------------------------
.l-simple-card {
  display: inline-block;
  max-height: 190px;
  box-sizing: content-box;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.50);
}

.simple-card-image {
  max-height: 150px;
  width: 100%;
}

.simple-card-label-area {
  display: inline-block;
  height: 40px;
  width: 100%;
  padding: 0;
  background-color: #7FB6F5;
  color: white;
  box-shadow: 0 -1px 2px 0 rgba(0,0,0,0.40);
}

.simple-card-label {
  @include margin(10px null null 10px);
}

// --------------------------------------------------
// SubMenu Layout
// --------------------------------------------------
.l-submenu {
  background-color: #7FB6F5;
  color: rgba(255, 255, 255, 0.80);

  .sb-form-header {
    color: white;
  }

  .sb-input-label {
    color: rgba(255, 255, 255, 0.80);
  }
}
// --------------------------------------------------
// Form Layout
// --------------------------------------------------
.l-form {
  @include margin($base-margin null null $base-margin);
  padding: 15px;
  border: 2px solid #4597F5;
}
