// --------------------------------------------------
// Navigation Bar Layout
// --------------------------------------------------
.l-navbar {
  @include margin(0 0 0 0);
  padding: 0;
  background-color: $accent-color-light;

  .brand-logo-text {
    display: inline-block;
    padding: $base-margin;
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    color: $base-color;
    text-align: center;
  }

  @include media($pc) {
    height: 40px;
  }

  @include media($tablet) {
    height: 40px;
  }

  @include media($mobile) {
    height: 80px;
  }
}

.l-navbar ul {
  display: inline-block;
  width: 100%;

  li:first-child {
    margin-left: 80px + $base-margin; // brand-logo + margin(10px);
  }

  li {
    display: inline-block;
    margin-right: 10px;

    .btn {
      height: 40px;
      @include border-width(0 2px 0 2px);
    }

    .btn-ghost {
      color: $base-color;

      ng-md-icon {
        fill: $base-color;
      }

      // 無効化されてない要素にホバーした場合のスタイル
      &:hover:not([disabled]) {
        color: $base-color !important;
        border-color: darken($accent-color-light, 10%);
        background-color: darken($accent-color-light, 10%) !important;

        ng-md-icon {
          color: $base-color;
        }
      }
    }

    .link-text {
      color: $base-color;

      ng-md-icon {
        fill: $base-color;
      }
    }
  }
}

.l-navbar-text {
  color: $base-color;
  display: inline-block;
  padding: 10px;
}

// ナビゲーションメニューのスタイル
.l-navbar-navigation {
  &.is-active {
    color: $accent-color-light !important;
    background-color: $base-color !important;
  }

  // 無効化されている場合
  &[disabled] {
    border-color: $accent-color-light;
    color: $accent-color-light;

    ng-md-icon {
      fill: $accent-color-light !important;
    }
  }
}
