nav.l-navbar(ng-controller='NavbarCtrl as navbar')
  a.brand-logo-text(href='https://github.com/Swiip/generator-gulp-angular') KAIZEN
  ul.l-clearfix
    li
      div.l-navbar-navigation.btn.btn-ghost.btn-solid(ui-sref='books.list' ng-class="navbar.getClass('books.list')") 本の一覧
    li
      div.l-navbar-navigation.btn.btn-ghost.btn-solid(ui-sref='books.add' ng-class="navbar.getClass('books.add')") 本の追加
    li.l-pull-right
      a.link-text
        ng-md-icon(icon="person" size="24")
    li.l-pull-right
      a.btn.btn-ghost.btn-solid(ng-href='#')
        ng-md-icon(icon="navigate_next" size="24")
    li.l-pull-right
      a.btn.btn-ghost.btn-solid(ng-href='#')
        ng-md-icon(icon="navigate_before" size="24")
    li.l-pull-right
      span.l-navbar-text 0-15 / 100 (P.{{navbar.page}})
